<nav class="col-md-2 d-none d-md-block bg-light sidebar">
	<div class="sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" routerLink="/registrar-camion" routerLinkActive="active">
					<span data-feather="home"></span>
					Dashboard <span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  routerLink="/lista-camiones" href="#" routerLinkActive="active"> <span data-feather="home"></span> - Camiones </a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  routerLink="/lista-choferes" href="#" routerLinkActive="active"> <span data-feather="home"></span> - Choferes</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  routerLink="/lista-rutas" href="#" routerLinkActive="active"> <span data-feather="shopping-cart"></span> - Rutas</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  routerLink="/lista-clientes" href="#" routerLinkActive="active"> <span data-feather="shopping-cart"></span> - CLientes</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  routerLink="/lista-itinerarios" href="#" routerLinkActive="active"> <span data-feather="shopping-cart"></span> - Itinerarios</a>
			</li>
		</ul>

		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
			<span>Saved reports</span>
			<a class="d-flex align-items-center text-muted" href="#">
				<span data-feather="plus-circle"></span>
			</a>
		</h6>

		<ul class="nav flex-column mb-2">
			<li class="nav-item">
				<a class="nav-link"  routerLink="/registrar-camion" href="#" routerLinkActive="active"> <span data-feather="home"></span> + Camion</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  routerLink="/registrar-ruta" href="#" routerLinkActive="active"> <span data-feather="shopping-cart"></span> + Ruta</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  routerLink="/registrar-cliente" href="#" routerLinkActive="active"> <span data-feather="shopping-cart"></span> + cliente</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  routerLink="/registrar-itinerario" href="#" routerLinkActive="active"> <span data-feather="shopping-cart"></span> + itinerario</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  routerLink="/registrar-chofer" href="#" routerLinkActive="active"> <span data-feather="bar-chart-2"></span> + chofer</a>
			</li>

			<li class="nav-item">
				<a class="nav-link"  routerLink="/registrar-compania" href="#" routerLinkActive="active"> <span data-feather="layers"></span> + compania</a>
			</li>
		</ul>
	</div>
</nav>
